body {
    background-color: black;
}
p{
    color: aliceblue;
}
h1{
    color: aliceblue;
}
#container{
    width: 400px;
    height: 450px;
    border: 2px solid white;
    padding: 5px;
    text-align: center;
    box-shadow:  0 4px 8px rgba(0,0,0,0,1);
    border-radius: 15px;
}
